

.counter
{
	$parent						: &;

	text-align					: center;
	padding						: 2rem;
	background					: #eee;
	margin						: .5rem 0;

	transition					: all .5s;
	opacity						: 0;
	transform					: translate(0, 200px);

	&.inview
	{
		opacity					: 1;
		transform				: translate(0, 0);
	}

	&__value
	{
		font-size				: 150%;
		margin					: 0;
		font-weight				: 600;
		font-family				: $base-heading-font-family;
	}
}
