
<div data-inview='{"trigger":"counter"}' class="counter">
	<b class="counter__value" data-counter='{"from":{{from}} }'>{{fallback to "300,000"}}</b>
	<span class="counter__label">{{label}}</span>
</div>
